/* 03 Dec 2018 zzz*/

#imageholder {
	 width:200px;
	 heigth:200px;
}


#div.sticky {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-color: yellow;
   font-size: 20px;
	
}




#divstyle {
/*	width: 1050px;
            top: 0;
            left: 50%;
            margin-left: -675px;
            position: fixed;
            z-index: 10;
	*/		
			width: 250px;
            top: 0;
            left: 50%;
            margin-left: -600px;
            position: fixed;
            z-index: 10;
			
}




#divcenter {
    width: 800px;
    position: absolute;
    left: 50%;
    margin-left: -400px;
}



#control_panel {
    
    width: 15%;
    height: 800px;
    background-color: black;
	 visibility: hidden; 
}

#divider {
   /* float: left;
    width: 5%;
    height: 800px; */
}

#control_panel button {
    font-size: 20px;
    width: 100%;
}

#control_panel button:hover {
    cursor: pointer;
}
#information_panel {
    background-color: gold;
}

#information_panel ul {
    list-style: none;
    padding: 5px;
}

.section {
    background-color: black;
    color: white;
    font-size: 24px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#header {
     width: 300px;
    background-color: gold;
    color: gold;
    font-size: 18px;
	color: black;
}

#main {
    
     width: 11000px;
  height: 1500px;
  overflow: auto;
 /*border: 1px solid;*/
}


/*
#main canvas {
}
*/

#main canvas {
    position: absolute;
   top:0;
     bottom: 50;
	/**/
    left: 0;
    right: 0;
    margin:auto;
}




#main input {
    width: 100px;
    height: 50px;
}

